<div id="footer">
    <div class="footer-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" style="background: linear-gradient(to right, #fe708a, #fe708a);">
                                <h3>THÔNG TIN HỖ TRỢ</h3>
                                <p><a style="color:black" href="#">Giới thiệu</a></p>
                                <p><a style="color:black" style="color:black" href="#">Tuyển dụng</a></p>
                                <p><a style="color:black" href="#">Góp ý & khiếu nại</a></p>
                                <p><a style="color:black" href="#">Liên hệ</a></p>
                            </div>
                            <div class="col-md-3">
                                <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                                <p><a style="color:black" href="#">Chính sách giao hàng</a></p>
                                <p><a style="color:black" href="#">Chính sách đổi sản phẩm</a></p>
                                <p><a style="color:black" href="#">Chính sách bảo hành</a></p>
                                <p><a style="color:black" href="#">Chính sách trả góp</a></p>
                            </div>
                            <div class="col-md-3">
                                <h3>ĐƯỜNG DÂY NÓNG</h3>
                                <p>Bán hàng (8:30 - 21:00)</p>
                                <p><strong style="color:black;font-size:17px">0121 768 4018</strong></p>
                                <p>Góp ý, khiếu nại (8:30 - 17:00)</p>
                                <p><strong style="color:black;font-size:17px">0914 198 2019</strong></p>
                            </div>
                            <div class="col-md-3">
                                <h3>ĐĂNG KÝ NHẬN ƯU ĐÃI</h3>
                                <div class="newsletter" id="newsletter"><span class="nhan_newsletter">
                                Điền email bạn muốn nhận khuyến mại và các bản tin mới nhất</span>
                                <input style="margin:5px 0px; " id="email_newsletter" type="text" value=""><br>
                                <input id="gui_tin_button" value="Nhận tin" type="button" onclick="submit_form2('newsletter_echo','gui_tin_button','modules/gianhang_newsletter/gui.php?gh=567673','newsletter')">
                                <div id="newsletter_echo"></div>
                            </div>
                            </div>
                            </div>
                            <div class="container">
                            <div class="row" style="margin-top:20px;border-top:1px solid #f7f7f7;padding-top:20px">
                            <div class="col-md-6">
                            © Bản quyền thuộc về <strong>BookShop</strong>. Cung cấp bởi <strong>Đình Bảo</strong>.
                            </div>
                            <div class="col-md-6 text-right">
                            Chia sẻ chúng tôi: <a href="#"><i style="font-size:20px" class="fa fa-facebook-square"></i></a> <a href="#"><i style="font-size:20px" class="fa fa-google-plus-square"></i></a> <a href="#"><i style="font-size:20px" class="fa fa-twitter-square"></i></a> <a href="#"><i style="font-size:20px" class="fa fa-pinterest-square"></i></a>
                            </div>
                            </div>
                        </div>
                    </div></div></div>