<div id="menu">
    <div id="navigation">
			<div  class="bocuc  bocuc_13 ">
				<div class="loprong">
					<div class="padding">
					   <nav class="navbar navbar-default" style="background: #fe708a" >
                        <div class="container">
                        <div class="row">
                        	<div class="col-xs-12 col-md-3">
                            <div class="col-210">
                                <div class="dropdowncus">
                                   <button class="dropbtncus" style="    width: 126%;"><i class="fa fa-bars"></i> <strong>DANH MỤC SÁCH</strong></button>
                             </div>
                           </div>
                          </div>
                           <div class="col-xs-12 col-md-9">
                           <div id="menu-top">
							       <ul class="nav navbar-nav ">
						
								        <li><a href="">Giới Thiệu</a></li>
								        <li><a href="">Hướng Dẫn Mua Hàng</a></li>
								        <li><a href="">Quy Định Và Chính Sách</a></li>
                                        <li><a href="">Liên Hệ Với Chúng Tôi</a></li>
                                        <li><a href="" class="violet">Trang Quản Trị Viên</a></li>

							         </ul>
						    </div>
						    </div>
						  </div>  
                        </div>
                       </nav>
                    </div>
                </div>
            </div>
        </div>
</div> 