<div id="left">

    <ul class="list-group">
                       <li class="list-group-item">
                            <a style=" position: relative;text-decoration:none;" href="">
                                </a>
                            <span class="label label-danger">Hot</span>
                        </li>
    </div>